<div class="page" style="display: flex; gap: 2rem; width: 100%;">

    <!-- Event type counts -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Event Types</mat-card-title>
        </mat-card-header>
        <canvas #eventTypeChart></canvas>
    </mat-card>

    <!-- Player involvement -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Player Involvements</mat-card-title>
        </mat-card-header>
        <canvas #playerChart></canvas>
    </mat-card>

    <!-- Distance covered -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Distance Covered (m)</mat-card-title>
        </mat-card-header>
        <canvas #distanceChart></canvas>
    </mat-card>

    <!-- Success / Failure ratios -->
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Success vs Failure</mat-card-title>
        </mat-card-header>
        <canvas #successChart></canvas>
    </mat-card>
</div>