<svg width="0" height="0">
    <defs>
        <marker id="arrowhead" markerWidth="6" markerHeight="4" refX="6" refY="2" orient="auto"
            markerUnits="strokeWidth">
            <polygon points="0 0, 6 2, 0 4" fill="context-stroke"></polygon>
        </marker>
    </defs>
</svg>

<div class="container" [attr.data-scale]="scale">
    <span class="goal"></span>
    <div class="field">
        <!-- Player positions -->
        @if (event) {
        @for (player of (event ? event.player_positions : []); track player) {
        <div class="player-position" [id]="'ppos-'+$index"
            [style.left.px]="scaleX(player.x, player.home_team_name == this.home_team)"
            [style.top.px]="scaleY(player.y, player.home_team_name == this.home_team)" [style.width.px]="10 * scale"
            [style.height.px]="10 * scale" [matTooltip]="player.player_name || ''">
        </div>
        }
        <div class="player-position-with-ball" [style.left.px]="scaleX(event.x, event.team_name == this.home_team)"
            [style.top.px]="scaleY(event.y, event.team_name == this.home_team)" [style.width.px]="10 * scale"
            [style.height.px]="10 * scale" [matTooltip]="event.player_name || ''">
        </div>
        <div class="ball-position-end" [style.left.px]="scaleX(event.end_x, event.team_name == this.home_team)"
            [style.top.px]="scaleY(event.end_y, event.team_name == this.home_team)" [style.width.px]="6 * scale"
            [style.height.px]="6 * scale" [matTooltip]="event.player_name || ''">
        </div>
        <div class="ball-position" [style.left.px]="scaleX(event.x, event.team_name == this.home_team)"
            [style.top.px]="scaleY(event.y, event.team_name == this.home_team)" [style.width.px]="6 * scale"
            [style.height.px]="6 * scale">
        </div>
        }

        <!-- Event list SVG -->
        @if (!!eventlist) {
        <svg [attr.width]="600 * scale" [attr.height]="450 * scale" xmlns="http://www.w3.org/2000/svg"
            style="position: absolute; top: 0; left: 0; z-index: 10;">
            @for (e of (eventlist ? eventlist : []); track e) {
            @if (e.end_x > 0) {
            <line [attr.x1]="scaleX(e.x, e.team_name == home_team)" [attr.y1]="scaleY(e.y, e.team_name == home_team)"
                [attr.x2]="scaleX(e.end_x, e.team_name == home_team)"
                [attr.y2]="scaleY(e.end_y, e.team_name == home_team)" stroke="black" stroke-width="1"
                marker-end="url(#arrowhead)"></line>
            }
            <circle [attr.cx]="scaleX(e.x, e.team_name == home_team)" [attr.cy]="scaleY(e.y, e.team_name == home_team)"
                r="5" [attr.fill]="e.team_name == home_team ? 'blue' : 'red'" class="hover-text-circle"
                style="pointer-events: all; z-index: 11;"></circle>
            <text [attr.x]="scaleX(e.x, e.team_name == home_team)+50"
                [attr.y]="scaleY(e.y, e.team_name == home_team)+20" font-size="12" fill="white" text-anchor="middle"
                alignment-baseline="middle" class="hover-text">
                <tspan [attr.x]="scaleX(e.x, e.team_name == home_team)" dy="0" style="z-index: 12;">
                    {{$index}}. {{e.player_name}}
                </tspan>
                <tspan [attr.x]="scaleX(e.x, e.team_name == home_team)" dy="1.2em" style="z-index: 12;">
                    {{e.event_name}}
                </tspan>
            </text>
            }
        </svg>
        }

        <!-- Player events SVG -->
        @if (!!player_events) {
        <svg [attr.width]="600 * scale" [attr.height]="450 * scale" xmlns="http://www.w3.org/2000/svg"
            style="position: absolute; top: 0; left: 0; z-index: 10;">
            @for (e of (player_events ? player_events : []); track e) {
            @if (e.end_x > 0) {
            <line [attr.x1]="scaleX(e.x, true)" [attr.y1]="scaleY(e.y, true)" [attr.x2]="scaleX(e.end_x, true)"
                [attr.y2]="scaleY(e.end_y, true)" [attr.stroke]="success(e) ? 'blue' : 'red'" stroke-width="1"
                marker-end="url(#arrowhead)"></line>
            }
            <circle [attr.cx]="scaleX(e.x, true)" [attr.cy]="scaleY(e.y, true)" r="5"
                [attr.fill]="success(e) ? 'blue' : 'red'" class="hover-text-circle"
                style="pointer-events: all; z-index: 11;"></circle>
            <text [attr.x]="scaleX(e.x, true)+50" [attr.y]="scaleY(e.y, true)+20" font-size="18" fill="black"
                text-anchor="middle" alignment-baseline="middle" class="hover-text">
                <tspan [attr.x]="scaleX(e.x, true)" dy="0" style="z-index: 12;">{{e.player_name}}</tspan>
                <tspan [attr.x]="scaleX(e.x, true)" dy="1.2em" style="z-index: 12;">{{e.event_name}}</tspan>
                <tspan [attr.x]="scaleX(e.x, true)" dy="1.2em" fill="black">{{e.event_outcome}}</tspan>
            </text>
            }
        </svg>
        }

        <!-- Field lines & markings -->
        <div class="left">
            <span class="halfway-line"></span>
            <span class="centre-circle"></span>
            <span class="centre-mark"></span>
            <span class="penalty-area"></span>
            <span class="penalty-mark"></span>
            <span class="penalty-arc"></span>
            <span class="goal-area"></span>
            <span class="corner-arc"></span>
        </div>

        <div class="right">
            <span class="penalty-area"></span>
            <span class="penalty-mark"></span>
            <span class="penalty-arc"></span>
            <span class="goal-area"></span>
            <span class="corner-arc"></span>
        </div>
    </div>

    <span class="goal"></span>
</div>