body {
  margin: 100px;
  /* height: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(sandybrown, maroon);
  --line: 0.3em solid white;
}

.container {
  width: 124em;
  height: 80em;
  background-color: green;
  font-size: 5px;
  padding: 5em;
  display: flex;
  flex-direction: row;
}

.container span {
  display: block;
}

.goal {
  margin-top: calc(40em - 3.5em);
  margin-bottom: calc(40em - 3.5em);
  background-color: white;
  width: 2em;
  min-width: 2em;
  height: 7em;
  min-height: 7em;
}

.field {
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  width: 120em;
  height: 80em;
  z-index: 1;
}

.halfway-line {
  width: 60em;
  height: 80em;
  border-right: 1px solid white;
}

.centre-circle {
  width: 20em;
  height: 20em;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 30em;
}
.penalty-arc {
  width: 20em;
  height: 20em;
  border-right: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 30em;
}

.centre-circle {
  left: calc((120em - 20em - 0.3em) / 2);
}

.centre-mark {
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(80em / 2 - 1em);
  left: calc(120em / 2 - 1em + 0.3em / 2);
}

.penalty-mark {
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(80em / 2 - 1em);
  left: calc(12em - 2em / 2);
}

.penalty-area {
  width: 18em;
  height: 44em;
  border: 2px solid white;
  position: absolute;
  top: calc((80em - 44em) / 2);
  left: -0.3em;
  background-color: green;
}

.penalty-arc {
  left: calc(12em - 20em / 2);
  z-index: -1;
}

.goal-area {
  width: 6em;
  height: 20em;
  border: 2px solid white;
  position: absolute;
  top: calc((80em - 20em) / 2);
  left: -0.3em;
}

.corner-arc {
  border: 1px solid white;
}

.corner-arc::after,
.corner-arc::before {
  content: "";
  position: absolute;
  width: 5em;
  height: 5em;
  border: 0.3em solid white;
  border-radius: 50%;
  left: calc(-5em / 2 - 0.3em);
}

.corner-arc::before {
  top: calc(-5em / 2 - 0.3em);
}

.corner-arc::after {
  bottom: calc(-5em / 2 - 0.3em);
}

.right {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: rotateY(180deg);
}

.player-position {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  z-index: 1;
  border-radius: 50%;
}

.player-position-with-ball {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  z-index: 1;
  border-radius: 50%;
}

.ball-position-end {
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid black;
  z-index: 1;
  border-radius: 50%;
}

.ball-position {
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid black;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
}

//Animation
:root {
  --endX: 0px;
  --endY: 0px;
  --duration: 1s;
}

@keyframes ballanimation {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--endX), var(--endY));
  }
}

.animate {
  animation: ballanimation var(--duration) linear forwards;
}

.hover-text {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}

.hover-text-circle:hover + .hover-text {
  display: block;
  opacity: 1;
}

.hover-text:hover {
  font-weight: bold;
  fill: yellow; /* Change text color on hover */
}
