<div class="container">
    <span class="goal"></span>
    <div class="field">
        <div class="player-position-with-ball" [id]="event ? event.player_id :  0"
            [matTooltip]="event ? event.player_name :  ''">
        </div>
        <div class="player-position-with-ball" [id]="'end'" [matTooltip]="event ? event.player_name :  ''">
        </div>
        @for (player of (event ? event.player_positions : []); track event) {
        <div class="player-position" [id]="player.player_id" [matTooltip]="player.player_name"></div>
        }
        <div class="left">
            <span class="halfway-line"></span>
            <span class="centre-circle"></span>
            <span class="centre-mark"></span>
            <span class="penalty-area"></span>
            <span class="penalty-mark"></span>
            <span class="penalty-arc"></span>
            <span class="goal-area"></span>
            <span class="corner-arc"></span>

        </div>
        <div class="right">
            <span class="halfway-line"></span>
            <span class="centre-circle"></span>
            <span class="centre-mark"></span>
            <span class="penalty-area"></span>
            <span class="penalty-mark"></span>
            <span class="penalty-arc"></span>
            <span class="goal-area"></span>
            <span class="corner-arc"></span>

        </div>


    </div>
    <span class="goal"></span>
</div>