<h2>Select match to analyze</h2>
<mat-form-field appearance="outline" color="primary">
    <mat-label>Competitions</mat-label>
    <mat-select (valueChange)="competitionSelected($event)" style="background-color: white;">
        <mat-option [value]="">All</mat-option>
        @for (competition of competitions; track competition) {
        <mat-option [value]="competition.competition_id">{{competition.competition_name}} {{
            competition.season_name}}</mat-option>
        }
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline" color="primary">
    <mat-label>Matches</mat-label>
    <mat-select (valueChange)="matchSelected($event)" style="background-color: white;">
        @for (match of matches; track match) {
        <mat-option [value]="match.id">{{match.home_team_name}} {{match.home_score}} -
            {{match.away_score}} {{match.away_team_name}}</mat-option>
        }
    </mat-select>
</mat-form-field>
<!--
<mat-form-field appearance="outline" color="primary">
    <mat-label>Events</mat-label>
    <mat-select (valueChange)="eventSelected($event)" style="background-color: white;">
        @for (event of events; track event) {
        <mat-option [value]="event.id">{{event.event_name}} - {{event.player_name}}</mat-option>
        }
    </mat-select>
</mat-form-field>
-->


@if (!!event) {
<mat-card>
    {{currentMatch.home_team_name}} {{currentMatch.home_score}}
    - {{currentMatch.away_score}} {{currentMatch.away_team_name}}
</mat-card>
<div style="display: flex; flex-direction: row; justify-content: left;">
    <mat-card style="display: flex; justify-content: flex-start;">
        <div style="display: flex; justify-content:center; flex-direction: row;">
            <button mat-icon-button [disabled]="event_index==0"
                (click)="eventChanged(-1)"><mat-icon>navigate_before</mat-icon></button>
            <div style="width: 250px;">
                <div [ngClass]="!!event ? '': 'hidden'">{{event?.player_name}}: {{event?.event_name}}</div>
                <div [ngClass]="!!event ? '': 'hidden'">{{event?.period}}. Half: {{event?.timestamp}}</div>
            </div>
            <button mat-icon-button (click)="eventChanged(1)"><mat-icon>navigate_next</mat-icon></button>
        </div>
        <app-football-pitch style="padding: 10px;" [event]="event"></app-football-pitch>
    </mat-card>
    <mat-card style="display: flex; justify-content:center; flex-direction: row;">
        @for (team of Object.keys(stats); track team) {
        <div>
            <h3>{{team}}</h3>
            @for (stat of Object.keys(stats[team]); track stat) {
            <div>
                {{stat}}: {{stats[team][stat]}}
            </div>
            }
        </div>
        }
    </mat-card>


</div>
}